{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="lg:grid lg:grid-cols-2 lg:gap-8  xl:grid-cols-3 my-10 mx-4 space-y-10 lg:space-y-0 ">
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>
    <div class="flex shadow-lg border-2 lg:max-w-md mx-auto ">
        <div style="background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center left;background-size: cover;" class=" w-72 h-52">
        </div>
        <div class="px-10 pt-2 space-y-4">
            <p>Abdoulaye Ibrahim</p>
        <span class="text-gray-400 italic">Achat et vente d'obejts d'art et de collection</span>
            <div class="w-20 h-2 bg-gray-400">
            </div>
    
            <span>8 rue sorbonne, 75005 paris, France</span>
    
            <a href="tel:+330682685521">
                <button class="bg-blue-600 py-1 px-4 text-white flex items-center rounded-lg text-xs">
                 <img class="w-5 mr-2" src="{% static 'booking/phone-call.png' %}" alt="">    <span>06 82 68 55 21</span></button>
            </a>
        </div>
    </div>

 
</div>


{% endblock %}