{% extends 'layout.html'  %}

{% block css %}
<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  input[type=text],input[type=email] , input[type=url], input[type=number],  select, textarea {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=text],input[type=email] , input[type=url],  select, textarea {
    width: 100%;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  .displayAsTable label
  {
      width:270px;
      float:left;
  }
  
  hr{
    height: 0.1px;
    color: rgb(228, 224, 224 , 0.3);
  }
  
  
  </style>
{% endblock %}

{% block content %}

<div class="container mx-auto">
  <form class="space-y-4" action="" method="post">
    {% csrf_token %}
    <div class="shadow-lg p-4 rounded-lg bg-gray-100 displayAsTable">
      <h3 class="text-2xl font-bold mt-5">Informations entête</h3>
      {% include "generator/_formHelper.html" with field=form.date %}
      {% include "generator/_formHelper.html" with field=form.autoNumerotation %}
      {% include "generator/_formHelper.html" with field=form.nonReductibleCommand %}
      {% include "generator/_formHelper.html" with field=form.editionDomTom %}
    </div>

    <div class="shadow-lg p-4 rounded-lg bg-gray-100">
      <h3 class="text-2xl font-bold mt-5">Informations client</h3>
      {% include "generator/_formHelper.html" with field=form.socialReason %}
      {% include "generator/_formHelper.html" with field=form.representedBy %}
      {% include "generator/_formHelper.html" with field=form.adresse %}
      {% include "generator/_formHelper.html" with field=form.adresseComplement %}
      {% include "generator/_formHelper.html" with field=form.postalCode %}
      {% include "generator/_formHelper.html" with field=form.city %}
      {% include "generator/_formHelper.html" with field=form.phoneOrFax %}
      {% include "generator/_formHelper.html" with field=form.portable %}
      {% include "generator/_formHelper.html" with field=form.email %}
      {% include "generator/_formHelper.html" with field=form.website %}
    </div>

    <div class="shadow-lg p-4 rounded-lg bg-gray-100">
      <h3 class="text-2xl font-bold mt-5">Mise en ligne</h3>
      {% include "generator/_formHelper.html" with field=form.firstDeploy %}
      {% include "generator/_formHelper.html" with field=form.nbDeployOrdered %}
    </div>

    <div class="shadow-lg p-4 rounded-lg bg-gray-100">
      <h3 class="text-2xl font-bold mt-5">Bon de commande</h3>
      {% include "generator/_formHelper.html" with field=form.encart %}
      {% include "generator/_formHelper.html" with field=form.bdcLocality %}
      {% include "generator/_formHelper.html" with field=form.sector %}

      <div class="displayAsTable">
      {% include "generator/_formHelper.html" with field=form.priceHT %}
      {% include "generator/_formHelper.html" with field=form.tva %}
      {% include "generator/_formHelper.html" with field=form.totalTTC %}
      {% include "generator/_formHelper.html" with field=form.totalHT %}
      </div>

      {% include "generator/_formHelper.html" with field=form.commercialContact %}
      {% include "generator/_formHelper.html" with field=form.observations %}
    </div>

    <h3 class="text-2xl font-bold mt-5"> Génération du bon de commande </h3> 
    
    <input type="submit" value="Générer">
  </form>
</div>


{% endblock %}

{% block javascript %}

<script>

  const setup = () => {
      const priceHT = document.querySelector("#id_priceHT")
      const totalTTC = document.querySelector("#id_totalTTC")
      const totalHT = document.querySelector("#id_totalHT")
      const tva = document.querySelector("#id_tva")
      priceHT.step = 1
      priceHT.min = 0
      priceHT.value = 0
      totalTTC.value = 0
      totalHT.value = 0
      tva.value = 0
  
      totalTTC.disabled = true
      totalHT.disabled = true
      tva.disabled = true
    }
    
  setup()
  
  document.querySelector("form").addEventListener("submit" , (e) => {
    e.preventDefault()
    const totalTTC = document.querySelector("#id_totalTTC")
    const totalHT = document.querySelector("#id_totalHT")
    const tva = document.querySelector("#id_tva")
    totalTTC.disabled = false
    totalHT.disabled = false
    tva.disabled = false
    document.querySelector("form").submit()
  })
  
  
    const handlePriceChange = (e) => {
      const priceWithoutTaxes = parseFloat(e.target.value)
      let priceHT = document.querySelector("#id_priceHT")
      let totalTTC = document.querySelector("#id_totalTTC")
      let totalHT = document.querySelector("#id_totalHT")
      let nbDeploy = document.querySelector("#id_nbDeployOrdered").value
      let tva = document.querySelector("#id_tva")
  
      const tvaValue = parseFloat(priceWithoutTaxes / 5)
  
      tva.value = tvaValue.toFixed(2)
  
      totalTTC.value = parseFloat(tvaValue + priceWithoutTaxes).toFixed(2)
      totalHT.value = parseFloat(nbDeploy) * priceWithoutTaxes
    }
  
  
    document.querySelector("#id_priceHT").onchange = handlePriceChange
    document.querySelector("#id_priceHT").oninput = handlePriceChange
  
  
  
    document.querySelector("#id_nbDeployOrdered").addEventListener("change" , function (e) {
      const priceWithoutTaxes = document.querySelector("#id_priceHT").value
      document.querySelector("#id_totalHT").value = e.target.value * priceWithoutTaxes
    })
  
  
  </script>
{% endblock %}