<div class="bg-gray-100 text-center  space-y-2 pt-6 md:flex md:justify-between px-10 lg:px-44">
    
    <div class="md:text-left hidden md:block space-y-2">
        <h1 class="font-bold  text-xs md:text-lg">A propos</h1>
        <p class="text-xs  md:text-sm w-52  ">
            Notre service d'annuaire propose des coordonnées téléphoniques et postales complètes (France et DOMTOM). Nos données sont mises à jour quotidiennnement afin de vous garantir le résultat le plus pertinent.
        </p>
 
    </div>


    <div class="space-y-2">
        <h1 class="font-bold text-xs md:text-lg">Nous contacter</h1>
    <p class="text-xs md:text-sm">147 rue Anatole France - 93700 Drancy</p>
    <p class="text-xs md:text-sm">Tél : 09 71 07 61 78</p>
    </div>

    <div class="space-y-2">
        <h1 class="font-bold text-xs md:text-lg">Mentions légales</h1>
    <p class="text-xs md:text-sm">CGU</p>
    <p class="text-xs md:text-sm">Mentions légales</p>
    </div>

</div>