{% load static %}

<div>
    <h1 class="text-xl text-center my-4"> <span class="text-blue-500">Les catégories </span> vedettes</h1>

    <div class="md:flex px-10 space-y-10">
        <div class="relative">
            <img class="h-72 w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">

            <div 
            class="w-4/5 h-32 bg-white text-center bottom-0 right-0 absolute flex items-center shadow-md">
                <p style="max-width: 120px;" class=" mx-auto">Restaurants , brasseries , bars</p>
            </div>
        </div>

        <div class="relative">
            <img class="h-72 w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">

            <div 
            class="w-4/5 h-32 bg-white text-center bottom-0 right-0 absolute flex items-center shadow-md">
                <p style="max-width: 120px;" class=" mx-auto">Restaurants , brasseries , bars</p>
            </div>
        </div>

        <div class="relative">
            <img class="h-72 w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">

            <div 
            class="w-4/5 h-32 bg-white text-center bottom-0 right-0 absolute flex items-center shadow-md">
                <p style="max-width: 120px;" class=" mx-auto">Restaurants , brasseries , bars</p>
            </div>
        </div>
    </div>
</div>