{% load static %}

<div >
    <h1 class="font-bold md:text-3xl text-center my-4 uppercase"> <span class="text-blue-500">Les catégories </span> vedettes</h1>
  
    <div id="featuredCategories" class="sm:grid sm:grid-cols-2 sm:gap-8 xl:grid-cols-4 px-10 mx-auto w-full">
        <div class="relative mt-5 featuredCategory">
            <img class="w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">

            <div 
            class="w-3/5  h-20 bg-white text-center bottom-0 right-0 absolute flex items-center shadow-md">
                <p style="max-width: 120px;" class=" mx-auto">Restaurants , brasseries , bars</p>
            </div>
        </div>

    </div>

    
</div>