
{% load static %}

<style>
 
    .buttonToOpen{
    }
     /* The Overlay (background) */
     .myOverlayNav {
     /* Height & width depends on how you want to reveal the overlay (see JS below) */   
     height: 100%;
     width: 0;
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     background-color: rgb(255, 255, 255); /* Black fallback color */
     overflow-x: hidden; /* Disable horizontal scroll */
     transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
     }


   /* When you mouse over the navigation links, change their color */
   .myOverlayNav a:hover, .myOverlayNav a:focus {
   color: #1660b6;
   }
   
   /* Position the close button (top right corner) */
   .myOverlayNav .closebtn {
   /* position: absolute; */
   top: 20px;
   right: 45px;
   }
   
   /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
   @media screen and (max-height: 450px) {
   .myOverlayNav a {font-size: 20px}
   .myOverlayNav .closebtn {
   top: 15px;
   right: 35px;
   }
   } 
   
   </style>


<!-- The overlay -->
<div class="myOverlayNav ">
    <div id="myNav" class="overlay ">

       

        <img class="h-20 mx-auto mt-4" src="{% static 'logo.jpg' %}" alt="">

        <div style="background-image: url(https://images.pexels.com/photos/7750108/pexels-photo-7750108.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-position: center;" class="text-center border-2 py-10 px-4 md:px-10 mt-5  mx-auto lg:mx-auto lg:max-w-6xl">

          <ul class="py-10 bg-white max-w-4xl mx-auto">
            <a class="text-lg font-bold" href="">ACCUEIL</a>
            <div style="border: solid 1px #D9D9D9;" class="w-32 mx-auto my-5"></div>
            <a class="text-lg font-bold" href="">RECHERCHER UN PROFESSIONNEL</a>
            <div style="border: solid 1px #D9D9D9;" class="w-32 mx-auto my-5"></div>
            <a class="text-lg font-bold" href="">ACTUALITES</a>
            <div style="border: solid 1px #D9D9D9;" class="w-32 mx-auto my-5"></div>
            <a class="text-lg font-bold" href="{% url 'contact' %}">CONTACT</a>
            <div style="border: solid 1px #D9D9D9;" class="w-32 mx-auto my-5"></div>

           <!-- Button to close the overlay navigation -->
            <a style="z-index: 99999999999" href="javascript:void(0)" class="closebtn">
              
              <span class="text-5xl">&times;</span>
              <p>Fermer</p>
            
            </a>
        
            
          </ul>

        </div>

        <div class="text-center mt-4">
          <p class="font-bold">France Conseil</p>
          <p> 147 rue Anatole France</p>
          <p> 93700 Drancy</p>
          <p>Tél : 09 71 07 61 78</p>
        </div>
      
      </div>
</div>

  
  <!-- Use any element to open/show the overlay navigation menu -->
  <img class="w-7 buttonToOpen cursor-pointer" src="{% static 'booking/menu.png' %}" alt="navigation icon">