{% load static %}

<div class="flex justify-between items-center px-4 pt-2  ">
    <div class="{% if isHomePage %} lg:absolute {% endif %} top-5">
        {% include 'booking/index/_navbutton.html' %}
    </div>
    <div style="right: 47%;" class="{% if isHomePage %} lg:absolute  {% endif %}  lg:ml-52 lg:top-52  ">
        <a href="{% url 'home' %}">
            <img class="h-32" src="{% static 'logo.png' %}" alt="navigation icon">
        </a>
        
    </div>
    <div class="{% if isHomePage %} lg:absolute {% endif %} right-10 top-5">
        <a href="{% url 'contact' %}">

            <button type="submit" class="hidden lg:block text-green-600 py-2 px-4 rounded-lg mx-auto w-full text-md  border  border-blue-400 hover:bg-green-500 hover:text-white">
                Réferencer mon établissement
            </button>

        </a>
    </div>
</div>