{% load static %}

<div class="flex justify-between items-center px-4 pt-2 ">
    <div>
        <img class="w-7" src="{% static 'booking/menu.png' %}" alt="navigation icon">
    </div>
    <div class="border-4 sm:ml-52  ">
        <img class="h-20" src="{% static 'logo.jpg' %}" alt="navigation icon">
    </div>
    <div>
        <button type="submit" class="hidden md:block text-blue-600 py-2 px-4 rounded-lg mx-auto w-full text-md  border  border-blue-400 hover:bg-blue-500 hover:text-white">
            Réferencer mon établissement
        </button>
    </div>
</div>