


      <h1 class="font-semi-bold md:text-xl text-gray-900 pb-2 mb-10 text-center mt-10 uppercase font-bold md:text-3xl  ">
        <span class="text-blue-500 ">Les actualités </span> du moment !
    </h1>


      <div  class="swiper mySwiper">
        <div class="swiper-wrapper ">
          <div class="swiper-slide md:flex mx-auto px-4  ">
            
            <div class="relative mb-20 mx-auto px-5 w-full ">
                <img class=" w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">
            
            <div style="bottom: -40px;" class="shadow-sm px-10 absolute  ">
                <div class="bg-white shadow-lg w-full h-32 text-center p-4">
                    <p>
                        EN DIRECT - Immeuble effondré à Sanary : le bilan s'alourdit à deux morts, le corps d'une femme de 82 ans retrouvé - LCI
                    </p>
                </div>
            </div>

            </div>

            <div class="relative mb-20 mx-auto px-5 w-full ">
                <img class=" w-full" src="https://www.pratiquedesvilles.com/img/activity/food.png" alt="">
            
            <div style="bottom: -40px;" class="shadow-sm px-10 absolute  ">
                <div class="bg-white shadow-lg w-full h-32 text-center p-4">
                    <p>
                        EN DIRECT - Immeuble effondré à Sanary : le bilan s'alourdit à deux morts, le corps d'une femme de 82 ans retrouvé - LCI
                    </p>
                </div>
            </div>

            </div>

           
           
          </div>

       

        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
      </div>


<div class="text-center">
<button class="py-4 w-72 px-4 bg-blue-700 text-white rounded-lg  border-4 ">Voir plus d'actualités</button>
</div>