


      <h1 class="font-semi-bold md:text-xl text-gray-900 pb-2 mb-10 text-center mt-10  font-bold md:text-3xl  ">
        <span class="text-green-500 ">Les actualités </span> du moment !
    </h1>


      <div  class="swiper mySwiper">
        <div class="swiper-wrapper ">
          <div id="firstswiperslide" class="swiper-slide md:flex mx-auto px-4  ">
            
            
           <h1 class="mx-auto text-xl mb-4">Aucune news pour le moment</h1>
           
          </div>

       

        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
      </div>


<div class="text-center">
<button class="py-4 w-72 px-4 bg-green-700 text-white rounded-lg  border-4 ">Voir plus d'actualités</button>
</div>





<script>

    const showNews = (news) => {
        return `
        <div class="relative mb-20 mx-auto px-5 w-full ">
                <img class=" w-full" src="${news.media}" alt="">
            
            <div style="bottom: -40px;" class="shadow-sm px-10 absolute  ">
                <div class="bg-white shadow-lg w-full h-32 text-center p-4">
                    <p>
                        ${news.title.slice(0,100)} ...
                    </p>
                    <a class="text-blue-500" href="${news.link}">Voir l'article</a>
                </div>

            </div>

            </div>
        `
    }

    const handleNewsResponse = (data) => {
        let result = ""
        data.forEach(news => {
            result += showNews(news)
        });

        console.log(result)

        document.querySelector("#firstswiperslide").innerHTML = result
    }
    
    // Handle News

    fetch("https://free-news.p.rapidapi.com/v1/search?q=France&lang=fr", {
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "free-news.p.rapidapi.com",
            "x-rapidapi-key": "c25184148amshd4254b8a5df9ceep1fedcdjsn267ce47f527b"
        }
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data.articles.slice(0,2))
            try {
                handleNewsResponse(data.articles.slice(0,2))
            } catch (error) {
            }
        })
        .catch(err => {
        console.error(err);
        });
  </script>