

{% extends 'layout.html' %}

{% block css %}

<style>
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
</style>

{% endblock %}
{% block content %}





 <main>
    <section class="px-20 pb-10">
      
<div class="">
    <h1 class="font-bold text-3xl my-10 text-center"><span>Mentions légales</span></h1>

    <article>
        <h2 class="text-center font-bold text-2xl my-4 h4">1. Présentation de notre site web</h2>
        <p>Conformément à la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l'économie numérique, notre site
            web créé par France Media Communication, propriétaire du site www.mavillepratique.fr, met à disposition
            du public les informations concernant notre entreprise.</p>
        <p>Eventuellement modifiables, nous vous invitons donc à consulter nos mentions légales le plus souvent
            possible, de manière à en prendre connaissance fréquemment.</p>
        <p>Le site www.mavillepratique.fr appartient à France Media Communication - SASU au
            capital de 1000 €, R.C.S. Bobigny , dont le siège social est situé à l'adresse
            suivante : 9 rue de l'église - 93800 Epinay Sur Seine.</p>
        <p>Personne physique ou morale, M. Benarab Frawsen est responsable de la publication, dont
            l'adresse e-mail est la suivante : Contact@mavillepratique.fr .</p>
        <p>Le webmaster, France Media Communication, est responsable de l'administration du site, dont
            l'adresse e-mail est la suivante : Contact@mavillepratique.fr .</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">2. Conditions générales d’utilisation du site et des services proposés.</h2>
        <p>En utilisant notre site web www.mavillepratique.fr, vous acceptez pleinement et entièrement les conditions
            générales d'utilisation précisées dans nos mentions légales. Accessible à tout type de visiteurs, il est
            important de préciser toutefois qu'une interruption pour maintenance du site web peut-être décidée par
            France Media Communication. Les dates et heures d'interruptions seront néanmoins précisées à l'avance aux utilisateurs.</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">3. Les produits ou services proposés par www.mavillepratique.fr</h2>
        <p>En accord avec sa politique de communication, le site www.mavillepratique.fr a pour vocation d'informer
            les utilisateurs sur les services proposés par France Media Communication, qui s'efforce alors de fournir
            des informations précises sur son activité. Cependant, des inexactitudes ou des omissions peuvent exister :
            la société ne pourra en aucun cas être tenue pour responsable pour toute erreur présente sur le site
            www.mavillepratique.fr.</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">4. Limitations contractuelles</h2>
        <p>Les informations retranscrites sur notre site web www.mavillepratique.fr font l’objet de démarches
            qualitatives, en vue de nous assurer de leur fiabilité. Cependant, nous ne pourrons encourir de
            responsabilités en cas d’inexactitudes techniques lors de nos explications.</p>
        <p>Si vous constatez une erreur concernant des informations que nous auront pu omettre, n’hésitez pas à
            nous le signaler par mail à Contact@mavillepratique.fr .</p>
        <p>Les liens reliés directement ou indirectement à notre site web www.mavillepratique.fr ne sont pas sous
            le contrôle de notre société. Par conséquent, nous ne pouvons nous assurer de l’exactitude des
            informations présentes sur ces autres sites Internet.</p>
        <p>Utilisant la technologie JavaScript, le site www.mavillepratique.fr ne pourra être tenu pour responsable
            en cas de dommages matériels liés à son utilisation. Par ailleurs, toute autre type de conséquence
            liée à l'exploitation du site www.mavillepratique.fr, qu'elle soit direct ou indirect (bug,
            incompatibilité, virus, perte de marché, etc.).</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">5. Propriété intellectuelle et contenu du site Internet</h2>
        <p>Le contenu rédactionnel du site web www.mavillepratique.fr appartient exclusivement à France Media Communication.
            Toute violation des droits d’auteur est sanctionnée par l’article L.335-2 du Code de la Propriété
            Intellectuelle, avec une peine encourue de 2 ans d’emprisonnement et de 150 000€ d’amende.</p>
        <p>Le site www.mavillepratique.fr ne pourra être mis en cause en cas de propos injurieux, à caractère raciste,
            diffamant ou pornographique, échangés sur les espaces interactifs. La société se réserve également le
            droit de supprimer tout contenu contraire aux valeurs de l'entreprise ou à la législation applicable en France.</p>
        <p>En naviguant sur le site www.mavillepratique.fr, l'utilisateur accepte également l'installation de cookies
            éventuelle sur son ordinateur.</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">6. Données personnelles, respect de votre vie privée et de vos libertés</h2>
        <p>Toute information recueillie sur le site web www.mavillepratique.fr se font dans le cadre des besoins liés
            à l'utilisation de notre plateforme, tels que le formulaire de commande ou la demande d'inscription à la
            Newsletter. Par ailleurs, le désabonnement de la Newsletter se fait grâce au lien situé en pied de page.</p>
        <p>France Media Communication s'engage à ne céder en aucun cas les informations concernant les utilisateurs
            du site Internet, de quelque façon qu'il soit (vente, échange, prêt, location, don).</p>
        <p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur
            bénéficie d’un droit d’accès et de rectification aux informations le concernant, droit qu’il peut exercer
            à tout moment en adressant un mail à l’adresse Contact@mavillepratique.fr , ou en effectuant sa demande
            par courrier, à l’adresse suivante : 9 rue de l'église - 93800 Epinay Sur Seine.</p>
        <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la
            directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>

        <h2 class="text-center font-bold text-2xl my-4 h4">7. Droit applicable et lois concernées</h2>
        <p>Soumis au droit français, le site web www.mavillepratique.fr est encadré par la loi n° 2004-2005 du 21
            juin 2004 pour la confiance dans l'économie numérique, l’article L.335-2 du Code de la Propriété
            Intellectuelle et la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004.</p>
    </article>
</div>
    </section>
</main>



{% endblock %}



