<!-- templates/registration/password_reset_done.html -->



{% extends 'registration/authLayout.html' %}

{% load static %}
{% block form %}

<div class="shadow-lg px-4 py-20 px-4 mx-5">

  <img class="h-40 w-40 my-4 mx-auto" src="{% static 'booking/success.png' %}" alt="">

  <h1 class="text-2xl font-bold my-4 ">Mise à jour du mot de passe terminée</h1>
  <p class="mb-4">Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.</p>

  <a class="" href="{% url 'login' %}"> 
    <span class="text-lg text-blue-500 cursor-pointer">Se connecter</span>
</a>


</div>




{% endblock %}



