<!-- templates/registration/password_reset_done.html -->



{% extends 'registration/authLayout.html' %}

{% load static %}
{% block form %}

<div class="shadow-lg px-4 py-20 px-4 mx-5">

  <img class="h-40 w-40 my-4 mx-auto" src="{% static 'booking/mail_sent.png' %}" alt="">

  <h1 class="text-2xl font-bold my-4 ">Message de réinitialisation du mot de passe envoyé</h1>
  <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.

    Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>

</div>




{% endblock %}



