
{% extends 'registration/authLayout.html' %}


{% block form %}
<style>
</style>


<div class="shadow-lg px-4 py-5 px-4 mx-5">

  <h1 class="font-bold text-3xl">Mot de passe oublié?</h1>
  <p class="mt-4 text-gray-600">Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en définir une nouvelle.</p>

  <form class="mt-5" method="POST">
    {% csrf_token %}
    <label for="id_email " class="font-bold">Votre adresse email</label> <br>
    {{ form.email }}

    {% include "registration/_formHelper.html" with field=form.email %}

    <button type="submit" class="block w-full bg-green-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2 max-w-md ">Recevoir les instructions</button>

  </form>


</div>


<script>
   let inputClasses = `pl-2 outline-none border-2 w-full py-2 rounded-lg`
    document.querySelectorAll("input").forEach((item) => {
        item.classList += inputClasses
    })

    document.querySelector("#id_email").placeholder = "nom@mail.com"

</script>



{% endblock %}