{% extends 'registration/authLayout.html' %}

{% block form %}
{% if validlink %}

<div class="shadow-lg px-4 py-5 px-4 mx-5">

  <h1 class="font-bold text-3xl">Saisissez un nouveau mot de passe</h1>
  <p class="mt-4 text-gray-600">Saisissez deux fois votre nouveau mot de passe afin de vérifier qu’il est correctement saisi.</p>


  <form method="POST">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {% include "registration/_formHelper.html" with field=form.new_password1 %}


    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {% include "registration/_formHelper.html" with field=form.new_password2 %}

    <button type="submit" class="block w-full bg-green-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2 max-w-md ">Changer mon mot de passe</button>

  </form>

  {% else %}
  <p class="mt-4 text-gray-600 px-10 bg-red-100 text-xl">Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
  {% endif %}

</div>



<script>
   let inputClasses = `pl-2 outline-none border-2 w-full py-2 rounded-lg`
    document.querySelectorAll("input").forEach((item) => {
        item.classList += inputClasses
    })

    document.querySelector("#id_email").placeholder = "nom@mail.com"

</script>



{% endblock %}